body {
  margin: 0;
 background-color:#F2F2F2;
}
/* header css style*/
.form-style{
  margin:0.5rem 7rem 0 0 !important;
}
.custom-item{
margin: 0 1rem 0 1rem;
align-self: center;
}
.custom-navbar{
    padding: 1rem 0 0 0!important;
}
.mynav{
   margin-right: 4rem;
}
.custom-input-group-text2{
    background-color: #016450!important;
    border: 1px solid #016450!important;
}
/*main container*/
.main-container{
  margin: 2rem;
}
.custom-profile{
    margin: 0 0 0 3rem;
}
.custom-dashboard{
  margin-left:1rem;
}
.main-row{
   margin-right: 0!important;
   margin-left: 0!important;
   width:122%;
}

/*NavBar Responsibleness*/
@media (max-width:740px) and (min-width:360px) {
    .mynav {
    margin-right: 0!important;
}
.custom-item {
    margin: 0 !important;
    align-self: baseline!important;
}
.custom-profile {
    margin: 0 0 2rem 0!important;
    padding-left: 0!important;
}
.custom-dashboard {
    margin-left: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
}
.main-row {
    margin-right: 0!important; 
     margin-left: 0!important; 
     width: 105%;
}
.main-row2 {
    margin-right: 0!important;
    margin-left: 0!important;
    width: 100%;
}
}
/*NavBar Responsibleness mini pad 768 and 1024*/
@media (max-width:1024px) and (min-width:768px) {
    .mynav {
    margin-right: 25!important;
}

.custom-item {
    margin: 0 36rem 0 0rem!important;
    align-self: center;
}
.main-container {
    margin: 1rem;
}
.profile-container {
    margin: 0 5rem 2rem 4rem;
}
.camera-icon {
    right: 125px!important;
}
.custom-dashboard {
    margin: 0 0 2rem 2rem;
}
.main-row {
    width: 118%;
}
.main-row2 {
    width: 147%;
}
}
