body {
  margin: 0;
 background-color:#F2F2F2;
}
/* header css style*/
.form-style{
  margin:0.5rem 7rem 0 0 !important;
}
.custom-item{
margin: 0 1rem 0 1rem;
align-self: center;
}
.custom-navbar{
    padding: 1rem 0 0 0!important;
}
.mynav{
   margin-right: 4rem;
}
.custom-input-group-text2{
    background-color: #016450!important;
    border: 1px solid #016450!important;
}
/*main container*/
.main-container{
  margin: 2rem;
}
.custom-profile{
    margin: 0 0 0 3rem;
}
.custom-dashboard{
  margin-left:1rem;
}
.main-row{
   margin-right: 0!important;
   margin-left: 0!important;
   width:122%;
}
